@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap");

@media only screen and (max-device-width: 700px) {
  #product-img-desktop {
    visibility: visible !important;
    height: 36vh !important;
    border-radius: 10px 10px 0px 0px !important;
    width:92vw !important;
    object-fit: cover;
  }
  .item-box {
    width: 92vw !important;
    height: 92vh !important;
    flex-direction: column;
  }
  #product-data {
    margin-top: 20px;
    height: 56vh !important;
  }
  #product-name {
    inline-size: 20rem !important;
  }
  p {
    inline-size: 75vw !important;
    font-size: 0.825rem !important;
    margin-top: 0px;
    line-height: 25px !important;
  }
  #buy {
    /*Work in progress */
    visibility: hidden;
  }
}

p {
  font-size: 0.875rem;
  font-family: "Montserrat";
  inline-size: 15rem;
}
body {
  background-color: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
  align-content: center;
  min-width: 100vw;
  overflow: hidden;
}

#product-newprice {
  color: var(--darkCyan);
  font-family: "Fraunces";
  font-size: 30px;
}

.item-box {
  display: flex;
  align-items: center;
  width: 600px;
  height: 450px;
  background-color: white;
  border-radius: 10px;
}
#product-data {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  font-weight: 500;
  justify-items: start;
  align-items: start;
}

#product-description,
#product-oldprice {
  color: var(--darkGrayishBlue);
  line-height: 1.25rem;
}

#product-oldprice {
  position: relative;
  top: -27px;
  left: 55%;
  font-size: 14px;
  font-family: "Montserrat";
}

#buy {
  background-color: var(--darkCyan);
  width: 16.319vw;
  height: 50px;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: "Montserrat";
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 15px;
}

#buy:hover {
  background-color: var(--buttonFocus);
}

#product-category {
  top: 51%;
  letter-spacing: 4px;
  font-family: "Montserrat";
  font-size: 14px;
  color: var(--darkGrayishBlue);
}
#product-name {
  font-family: "Fraunces";
  color: var(--veryDarkBlue);
  font-size: 30px;
  line-height: 30px;
  inline-size: 13rem;
}

:root {
  --veryDarkBlue: hsl(212, 21%, 14%);
  --darkGrayishBlue: hsl(228, 12%, 48%);
  --darkCyan: hsl(158, 36%, 37%);
  --buttonFocus: hsl(158, 37%, 20%);
  --cream: hsl(30, 38%, 92%);
}

#icon-cart {
  margin-right: 10px;
}

#product-img-desktop {
  margin: 0px;
  padding: 0px;
  height: 450px;
  width: 300px;
  border-radius: 10px 0px 0px 10px;
}
